html {
  box-sizing: inherit;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  list-style: none;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}
.header{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 0%;
  font-weight: lighter;
}
.header > p {
  color: white;
}
.navbar{
  display: flex;
  padding: 0 2.4%;
  border-bottom: gray solid 1px;
  align-items: center;
  justify-content: space-between;
}
.navbar > div {
  display: flex;
  align-items: center;
}
.navbar > div > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.navbar > div > p {
  font-size: smaller;
  font-weight: lighter;
}
.best-sellers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-sellers > p {
  font-weight: lighter;
  margin-bottom: 0;
}
.filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.filters > p {
  flex-basis: 100%;
  color: #424242;
  font-size: smaller;
  font-weight: lighter;
}
.filters > div {
  position: relative;
  flex-basis: 50%;
  max-width: 200px;
}
.filters ul {
  padding: 0;
  margin: 0;
}
.filters .sort ul {
  margin-right: 12px;
}
.default div {
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
  background-color: #e3e3e3;
  padding: 5px 10px;
  border: #d3d3d3 solid 1px;
  border-radius: 0px;
  cursor: pointer;
}
.default div:hover {
  border-color: #d7bd8e;
}
.default div > i {
  margin-right: 5px;
  width: 16px;
}
.default p {
  font-weight: lighter;
  font-size: smaller;
  margin: 0px;
}
.select {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  padding: 0px;
  background-color: #e3e3e3;
  z-index: 99;
}
.select.active {
  border: #d7bd8e solid 1px;
}
.select li {
  display: none;
}
.select.active li {
  display: block;
}
.select div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: #e3e3e3;
  border: #e3e3e3 solid 1px;
  justify-content: left;
  align-items: center;
}
.select div:hover {
  background-color: #9ed0e3;
}
.select p {
  font-weight: lighter;
  font-size: smaller;
  margin: 5px 10px 5px 31px;
}
.wrapper {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
article {
  display: flex;
  flex-flow: column wrap;
  grid-column: span 2;
  grid-row: 1fr;
}
article > img {
  border-bottom: gray solid 1px;
  width: 100%;
  height: auto;
}
article .title {
  margin: 10px 0 0 0;
  font-size: smaller;
  font-weight: lighter;
}
.prices {
  display: flex;
  flex-flow: row wrap;
  margin: 5px 0 20px 0;
  padding: 0 0;
}
.prices p {
  font-size: small;
  margin: 0 1em 0 0;
}
.prices > p + p {
  font-weight: bolder;
}
.crossed {
  text-decoration: line-through;
  font-weight: lighter;
  margin-right: 1em;
}

/* on medium and large devices */
@media (min-width: 550px) {
  .filter {
    justify-content: left;
  }
  .filters {
    justify-content: left;
  }
  .filters > div {
    max-width: 200px;
  }
  article {
    display: flex;
    flex-flow: column wrap;
    grid-column: span 1;
    grid-row: 1fr;
  }
}

